* {
  padding: 0;
  margin: 0;
  color: whitesmoke;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #1d1d23;
  position:relative;
 
}
header {
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 500px;
    margin-top:47px;
    position:relative;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  gap: 30px;
  margin: 20px 0;
  min-height: 500px;  
  top:43px;
  position:relative;
 
}
#timer {
  display: flex;
  flex-flow: row nowrap;
  gap: 40px;
  justify-content: center;
  align-items: center;
  width: 849px;
  height: 132px;
  border-radius: 20px;
  background: #34344a;
  position: relative;
  top:10px;
  
}

.input-section {
  width: 309px;
  display: flex;
  flex-flow: row wrap;
  flex-wrap: wrap;
  font-size: 20px;
  font-weight: 800;
  align-items: center;
  justify-content: space-around;
}
#timer .input-section input {
  outline: none;
  border: none;
  width: 50px;
  height: 20px;
  padding: 5px;
  background-color: transparent;
  color: whitesmoke;
  font-size: 26px;
  font-weight: 500;
  text-decoration: underline;
}

#timer .input-section input::placeholder {
  color: whitesmoke;
}

.input-section {
  color: whitesmoke;
  font-weight: 800;
  font-size: 20px;
}
#set-alarm-button,
#delete-alarm-button {
  width: 124px;
  height: 52px;
  border-radius: 26px;
  background-color: yellow;
  color: black;
  border: none;
  color: #34344a;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
}

#timer h5 {


  color: #fff;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}


#current-timers {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #39393e;
  border-radius: 50px;
  width: 413px;
  height: 66px;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  position: relative;
}



#active-timers {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 20px;
  position: relative;
  
  
}

.active-timer {
  display: flex;
  flex-flow: row nowrap;
  gap:70px;
  justify-content:center;
  align-items: center;
  background-color: #34344a;
  width: 849px;
  height: 132px;
  border-radius: 20px;
 
}

.active-timer h5 {
  color: #fff;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.active-timer .active-timer-input-section {
  width: 230px;
  display: flex;
  flex-flow: row wrap;
  font-size: 26px;
  font-weight: 500;
  align-items: center;
  justify-content: space-around;
}



.btndelete {

  width: 124px;
  height: 52px;
  border-radius: 26px;
  background-color: yellow;
  color: black;
  border: none;
  color: #34344a;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
}

.btnstop {
  display: none;
  width: 124px;
  height: 52px;
  border-radius: 26px;
  background-color: yellow;
  color: black;
  border: none;
  color: #34344a;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
}



